<h3>Hi</h3>
<p>Welcome to MusicMania </p>
<p>Your Email is <%= @admin_user.email %></p>
<p>Your password is <%= @generated_password %></p>
<p><a href="http://localhost:3000/admins/sign_in">Sign_in</a></p>
