<div class="center">
  <div class="audio-player">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-type-playlist">
        <div class="jp-gui jp-interface flex-wrap">
          <div class="jp-controls flex-item">
            <button class="jp-previous" role="button" tabindex="0"><i class="fa fa-step-backward"></i></button>
            <button class="jp-play hide-play" id="jp-play-button" role="button" tabindex="0"><i
                class="fa fa-play"></i></button>
            <button class="jp-play hide-play" id="jp-pause-button" role="button" tabindex="0"><i
                class="fa fa-pause"></i></button>
            <button class="jp-next" role="button" tabindex="0"><i class="fa fa-step-forward"></i></button>
          </div>
          <div class="jp-progress-container flex-item">
            <div class="jp-time-holder">
              <span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span>
              <span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
            </div>
            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar">
                  <div class="bullet">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="jp-now-playing flex-item">
            <div class="jp-track-name"></div>
            <div class="jp-artist-name"></div>
          </div>
          <div class="jp-toggles flex-item">
            <button id="playlist-toggle" class="jp-show-playlist" role="button" tabindex="0"><i
                class="fa fa-music"></i></button>
            <button class="jp-shuffle" role="button" tabindex="0">
              <i class="fa fa-random"></i>
              <button class="jp-repeat" role="button" tabindex="0"><i class="fa fa-exchange"></i></button>
            </button>
          </div>
          <div class="jp-volume-controls flex-item">
            <button class="jp-mute" role="button" tabindex="0"><i class="fa fa-volume-up"></i></button>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value">
                <div class="bullet">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="playlist-wrap" class="jp-playlist">
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
